.page {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 45px 0 60px;
  max-width: 1280px;
  min-width: 320px;
}

@media screen and (max-width: 1100px) {
  .page {
    padding: 28px 90px 36px;
  }
}

@media screen and (max-width: 600px) {
  .page {
    padding: 28px 0 36px;
  }
}
