.burger-menu__element {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.burger-menu__element:before {
  content: '';
  display: block;
  position: absolute;
  top: -9px;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.burger-menu__element:after {
  content: '';
  display: block;
  position: absolute;
  top: 9px;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
